@font-face {
    src: url("/assets/fonts/Montserrat-Arabic-Bold.ttf");
    font-family: "FTBold";
}
@font-face {
    src: url("/assets/fonts/Montserrat-Arabic-SemiBold.ttf");
    font-family: "FTSemiBold";
}
// @font-face {
//     src: url("/assets/fonts/Montserrat-Arabic-Black.ttf");
//     font-family: "FTBlack";
// }
// @font-face {
//     src: url("/assets/fonts/Montserrat-Arabic-ExtraBold.ttf");
//     font-family: "FTExtraBlod";
// }
@font-face {
    src: url("/assets/fonts/Montserrat-Arabic-ExtraLight.ttf");
    font-family: "TExtraLight";
}
@font-face {
    src: url("/assets/fonts/Montserrat-Arabic-Light.ttf");
    font-family: "FTLight";
}
// @font-face {
//     src: url("/assets/fonts/Montserrat-Arabic-Medium.ttf");
//     font-family: "FTMedium";
// }
@font-face {
    src: url("/assets/fonts/Montserrat-Arabic-Regular.ttf");
    font-family: "FTRegular";
}
@font-face {
    src: url("/assets/fonts/Montserrat-Arabic-Thin.ttf");
    font-family: "FTThin";
}