html[lang='ar']{
    .p-float-label > label{
        left: unset;
        right: 0.75rem;
    }
    .underline_title:before{
        right: 0 !important;
    }
    .p-input-icon-right > .p-icon-wrapper {
        right: unset;
        left: 0.75rem !important;
    }
}