::ng-deep{
    .p-tooltip{
        .p-tooltip-text{
            width: 250px;
        }
        &.image_tooltip{
            .p-tooltip-text{
                width: 550px;
                background-color: var(--white);
                padding: 0;
            }
        }
    }
}