<div class="owner_data__section" [formGroup]="additionalDataFormService.additionalDetails">
    <app-base-button-component (clicked)="openCloseSection()" icon="file"
        classes="btn-outline-secondary p-3 font_size__13 mb-4">
        {{'views.insuranceShow.additionalDataButton' | translate | uppercase}} </app-base-button-component>
    @if(additionalDataFormService.isAdditionalData.value){
    <div class="mt-5">
        <div>
            <div class="d-flex justify-content-between">
                <app-base-label-component classes="form-label"> {{ 'views.insuranceShow.docOwner' | translate }}
                </app-base-label-component>
                <p-inputSwitch [formControl]="additionalDataFormService.isOwnerDoc"></p-inputSwitch>
            </div>
            @if(additionalDataFormService.isOwnerDoc.value){
            <div class="row mt-4">
                <aside class="col-md-4">
                    <div class="mb-4">
                        <app-base-label-component classes="form-label d-block"
                            for="eduLevel-1">{{'views.insuranceShow.eduLevel' | translate}}</app-base-label-component>
                        <p-dropdown [formControl]="additionalDataFormService.ownerEducationLevel" inputId="eduLevel-1"
                            [options]="lookupsStoreQuery.lookups[ELookupCategory.educations]"
                            [optionLabel]="lookupsStoreQuery.lookupNameKey" optionValue="mappingCode"></p-dropdown>
                    </div>
                </aside>
                <aside class="col-md-4">
                    <div class="mb-4">
                        <app-base-label-component classes="form-label d-block"
                            for="childsUnder16-1">{{'views.insuranceShow.childsUnder16' |
                            translate}}</app-base-label-component>
                        <p-dropdown [formControl]="additionalDataFormService.ownerChildrenUnder16"
                            inputId="childsUnder16-1" [options]="CHILDREN_UNDER_16"></p-dropdown>
                    </div>
                </aside>
                <aside class="col-md-4">
                    <div class="mb-4">
                        <app-base-label-component classes="form-label d-block"
                            for="driveRestrictions-1">{{'views.insuranceShow.driveRestrictions' |
                            translate}}</app-base-label-component>
                        <p-dropdown [formControl]="additionalDataFormService.drivingRestriction"
                            inputId="driveRestrictions-1"
                            [options]="lookupsStoreQuery.lookups[ELookupCategory.medicalConditions]"
                            [optionLabel]="lookupsStoreQuery.lookupNameKey" optionValue="mappingCode"></p-dropdown>
                    </div>
                </aside>
                <aside class="col-md-4">
                    <div class="mb-4">
                        <app-base-label-component classes="form-label d-block"
                            for="nightParking-1">{{'views.insuranceShow.nightParking' |
                            translate}}</app-base-label-component>
                        <p-dropdown [formControl]="additionalDataFormService.parkingPlace" inputId="nightParking-1"
                            [options]="lookupsStoreQuery.lookups[ELookupCategory.parkingLocations]"
                            [optionLabel]="lookupsStoreQuery.lookupNameKey" optionValue="mappingCode"></p-dropdown>
                    </div>
                </aside>
                <aside class="col-md-4">
                    <div class="mb-4">
                        <app-base-label-component classes="form-label d-block"
                            for="5yearsAccidents-1">{{'views.insuranceShow.5yearsAccidents' |
                            translate}}</app-base-label-component>
                        <p-dropdown [formControl]="additionalDataFormService.ownerAccidents5Years"
                            inputId="5yearsAccidents-1" [options]="FIVE_YEARS_ACCIDENTS"></p-dropdown>
                    </div>
                </aside>
                <aside class="col-md-4">
                    <div class="mb-4">
                        <app-base-label-component classes="form-label d-block"
                            for="annualDistance-1">{{'views.insuranceShow.annualDistance' |
                            translate}}</app-base-label-component>
                        <p-dropdown [formControl]="additionalDataFormService.annualDistance" inputId="annualDistance-1"
                            [options]="lookupsStoreQuery.lookups[ELookupCategory.mileages]"
                            [optionLabel]="lookupsStoreQuery.lookupNameKey" optionValue="mappingCode"></p-dropdown>
                    </div>
                </aside>
                <aside class="col-md-4">
                    <div class="mb-4">
                        <app-base-label-component classes="form-label d-block"
                            for="motionVector-1">{{'views.insuranceShow.motionVector' |
                            translate}}</app-base-label-component>
                        <p-dropdown [formControl]="additionalDataFormService.motionVector" inputId="motionVector-1"
                            [options]="lookupsStoreQuery.lookups[ELookupCategory.transmissionTypes]"
                            [optionLabel]="lookupsStoreQuery.lookupNameKey" optionValue="mappingCode"></p-dropdown>
                    </div>
                </aside>
            </div>
            }
        </div>
        <div>
            <div class="d-flex justify-content-between">
                <app-base-label-component classes="form-label"> {{ 'views.insuranceShow.trafficViolations' | translate
                    }} </app-base-label-component>
                <p-inputSwitch [formControl]="additionalDataFormService.ownerOtherViolations"></p-inputSwitch>
            </div>
            @if(additionalDataFormService.ownerOtherViolations.value){
            <div class="row mt-4">
                <aside class="col-md-4">
                    <div class="mb-4">
                        <app-base-label-component [required]="true" classes="form-label d-block"
                            for="violationType-2">{{'views.insuranceShow.violationType' |
                            translate}}</app-base-label-component>
                        <p-multiSelect [formControl]="additionalDataFormService.ownerViolationTypes"
                            inputId="violationType-2" [options]="lookupsStoreQuery.lookups[ELookupCategory.violations]"
                            [optionLabel]="lookupsStoreQuery.lookupNameKey" optionValue="mappingCode" />
                        @if(additionalDataFormService.ownerViolationTypes.touched &&
                        additionalDataFormService.ownerViolationTypes.invalid){
                        <app-input-validation-alert-component> {{'errors.required' | translate}}
                        </app-input-validation-alert-component>
                        }
                    </div>
                </aside>
            </div>
            }
        </div>
        <div>
            <div class="d-flex justify-content-between">
                <app-base-label-component classes="form-label"> {{ 'views.insuranceShow.nationalAddressSameCity' |
                    translate }} </app-base-label-component>
                <p-inputSwitch [formControl]="additionalDataFormService.sameWorkCity"></p-inputSwitch>
            </div>
            @if(!additionalDataFormService.sameWorkCity.value){
            <div class="row mt-4">
                <aside class="col-md-4">
                    <div class="mb-4">
                        <app-base-label-component [required]="true" classes="form-label d-block"
                            for="workCity-2">{{'views.insuranceShow.workCity' | translate}}</app-base-label-component>
                        <p-dropdown [formControl]="additionalDataFormService.ownerWorkCityId" inputId="workCity-2"
                            [options]="addressStoreQuery.cities" [optionLabel]="addressStoreQuery.keyName" optionValue="mappingCode"></p-dropdown>
                        @if(additionalDataFormService.ownerWorkCityId.touched &&
                        additionalDataFormService.ownerWorkCityId.invalid){
                        <app-input-validation-alert-component> {{'errors.required' | translate}}
                        </app-input-validation-alert-component>
                        }
                    </div>
                </aside>
            </div>
            }
        </div>
        <div>
            <div class="d-flex justify-content-between">
                <app-base-label-component classes="form-label"> {{ 'views.insuranceShow.licenseInAnotherCountry' |
                    translate }} </app-base-label-component>
                <p-inputSwitch (onChange)="additionalDataFormService.ownerHasLicense($event.checked)" [formControl]="additionalDataFormService.ownerAnotherCountryLicense"></p-inputSwitch>
            </div>
            @if(additionalDataFormService.ownerAnotherCountryLicense.value){
            <div class="row">
                @for(license of additionalDataFormService.ownerLicenses.controls; track license; let index
                = $index){
                <aside class="col-2 d-flex">
                    @if(additionalDataFormService.ownerLicenses.length > 1 && index > 0){
                    <app-base-button-component (click)="additionalDataFormService.removeOwnerLicense(index)"
                        icon="times"
                        classes="btn-outline-danger p-2 font_size__13 mt-4 me-2"></app-base-button-component>
                    }
                    @if(additionalDataFormService.ownerLicenses.length < 3 && index===0){ <app-base-button-component
                        (click)="additionalDataFormService.addOwnerLicense()" icon="plus"
                        classes="btn-outline-success p-2 font_size__13 mt-4"></app-base-button-component>
                        }
                </aside>
                <aside class="col-10">
                    <!-- hidden -->
                    <div class="row">
                        <ng-container>
                            <aside class="col-md-6">
                                <div class="mb-4">
                                    <app-base-label-component [required]="true" classes="form-label d-block"
                                        for="country">{{'views.insuranceShow.country' |
                                        translate}}</app-base-label-component>
                                    <p-dropdown [virtualScroll]="true" [virtualScrollItemSize]="40"
                                        [formControl]="additionalDataFormService.ownerLicenseCountryId(index)"
                                        inputId="country" [options]="addressStoreQuery.countries"
                                        [optionLabel]="addressStoreQuery.keyName"></p-dropdown>
                                    @if(additionalDataFormService.ownerLicenseCountryId(index).touched &&
                                    additionalDataFormService.ownerLicenseCountryId(index).invalid){
                                    <app-input-validation-alert-component> {{'errors.required' | translate}}
                                    </app-input-validation-alert-component>
                                    }
                                </div>
                            </aside>
                            <aside class="col-md-6">
                                <div class="mb-4">
                                    <app-base-label-component [required]="true" classes="form-label d-block"
                                        for="licenseHoldYears">{{'views.insuranceShow.licenseHoldYears' |
                                        translate}}</app-base-label-component>
                                    <p-dropdown
                                        [formControl]="additionalDataFormService.ownerYearsHoldingLicense(index)"
                                        inputId="licenseHoldYears" [options]="YEARS_HOLDING_LICENSE"></p-dropdown>
                                    @if(additionalDataFormService.ownerYearsHoldingLicense(index).touched &&
                                    additionalDataFormService.ownerYearsHoldingLicense(index).invalid){
                                    <app-input-validation-alert-component> {{'errors.required' | translate}}
                                    </app-input-validation-alert-component>
                                    }
                                </div>
                            </aside>
                        </ng-container>
                    </div>

                    <!-- hidden -->
                </aside>
                }
            </div>
              }
        </div>
        <div>
            <div class="d-flex justify-content-between">
                <app-base-label-component classes="form-label"> {{ 'views.insuranceShow.vehicleModify' | translate }}
                </app-base-label-component>
                <p-inputSwitch [formControl]="additionalDataFormService.carModified"></p-inputSwitch>
            </div>
            @if(additionalDataFormService.carModified.value){
            <div class="row mt-4">
                <aside class="col-md-12">
                    <div class="mb-4">
                        <app-base-label-component [required]="true" classes="form-label d-block"
                            for="whatAreModifications-2">{{'views.insuranceShow.whatAreModifications' |
                            translate}}</app-base-label-component>
                        <textarea [formControl]="additionalDataFormService.modifications" class="form-control" rows="5"
                            cols="30" pInputTextarea></textarea>
                        @if(additionalDataFormService.modifications.touched &&
                        additionalDataFormService.modifications.invalid){
                        <app-input-validation-alert-component> {{'errors.required' | translate}}
                        </app-input-validation-alert-component>
                        }
                    </div>
                </aside>
            </div>
            }
        </div>
    </div>
    }
</div>