<div class="car_insurance__form">
    <div class="form_box secondary_bg border_radius__120 p-5 mt-5">
        <div class="row">
            <aside class="col-md-4 d-flex flex-column justify-content-between">
                <div class="mb-4">
                    <label class="form-label"> {{insuranceFormStructure.insurancePurpose.label |
                        translate}} </label>
                    <div>
                        @for(item of insuranceFormStructure.insurancePurpose.radioButtons; track item.id; let index =
                        $index){
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" [name]="item.id" [id]="item.id + index"
                                [value]="item.value">
                            <label class="form-check-label text-white font_size__13"
                                [for]="item.id + index">{{item.label |
                                translate}}</label>
                        </div>
                        }
                    </div>
                </div>
                <div class="mb-4">
                    <label for="idInput" class="form-label">{{'views.home.insuranceForm.id' | translate}}</label>
                    <input type="number" class="form-control" id="idInput" placeholder="">
                </div>
            </aside>
            <aside class="col-md-4 d-flex flex-column justify-content-between">
                <div class="mb-4">
                    <label class="form-label"> {{insuranceFormStructure.registrationType.label| translate}}
                    </label>
                    <div>
                        @for(item of insuranceFormStructure.registrationType.radioButtons; track item.id; let index =
                        $index){
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" [name]="item.id" [id]="item.id + index"
                                [value]="item.value">
                            <label class="form-check-label text-white font_size__13"
                                [for]="item.id + index">{{item.label |
                                translate}}</label>
                        </div>
                        }
                    </div>
                </div>
                <div class="mb-4">
                    <label for="serialInput" class="form-label">{{'views.home.insuranceForm.serialNumber' |
                        translate}}</label>
                    <input type="number" class="form-control" id="serialInput" placeholder="">
                </div>
            </aside>
            <aside class="col-md-4 d-flex flex-column justify-content-between">
                <div class="mb-4">
                    <label class="form-label"> {{'views.home.insuranceForm.insuranceDate' | translate}}
                    </label>
                    <input class="date_picker__input form-control" (click)="d.toggle()" type="text" ngbDatepicker
                        #d="ngbDatepicker" />
                </div>
                <div class="mb-4">
                    <label class="form-label"> {{'views.home.insuranceForm.confirmCode' | translate}}
                    </label>
                    <app-base-captcha-component id="baseCaptcha1"></app-base-captcha-component>
                </div>

            </aside>
        </div>
    </div>
    <div class="agree_terms__conditions row mt-5">
        <aside class="col-md-4 ms-auto">
            <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label font_light grey_color font_size__15" for="flexCheckChecked">
                    {{'views.home.insuranceForm.termsConditionsAgree' | translate}}
                </label>
            </div>
            <app-base-button-component classes="btn-primary rounded-pill text-white shadow font_size__15 col-12 py-3">
                {{'views.home.insuranceForm.showOffers' | translate}}
            </app-base-button-component> 
        </aside>
    </div>
</div>