<div class="car_insurance__form" [formGroup]="insuranceForm">
    <div class="form_box secondary_bg text-light border_radius__60 p-4 mt-5">
        <div class="row py-3 align-items-stretch">
            <aside class="col-md-4 my-3">
                <div class="mb-4 d-flex align-items-center">
                    <aside class="flex-fill">
                        <app-base-label-component classes="form-label mb-0 me-3" [required]="true">
                            {{insuranceFormStructure.insurancePurpose.label | translate}} </app-base-label-component>
                    </aside>
                    <div>
                        @for(item of insuranceFormStructure.insurancePurpose.radioButtons; track item.id; let index =
                        $index){
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" formControlName="purpose" type="radio" [id]="item.id + index"
                                [value]="item.value">
                            <label class="form-check-label text-white font_size__10"
                                [for]="item.id + index">{{item.label |
                                translate}}</label>
                        </div>
                        }
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <p-floatLabel>
                            <p-inputNumber [maxlength]="10" [minlength]="10" formControlName="idNumber" inputStyleClass="form-control" inputId="idInput" [useGrouping]="false">
                            </p-inputNumber>
                            <label class="form-label base_label d-flex align-items-center"
                                for="idInput">
                                <span class="me-1">{{'views.home.insuranceForm.id' | translate}}</span> 
                                <span class="required_input text-danger font_size__16 me-1"> * </span>
                            </label>
                        </p-floatLabel>
                        <!-- <app-base-label-component classes="form-label" [required]="true"
                            for="idInput">{{'views.home.insuranceForm.id' | translate}}</app-base-label-component>
                        <p-inputNumber [maxlength]="10" [minlength]="10" formControlName="idNumber" inputStyleClass="form-control" inputId="idInput" [useGrouping]="false">
                        </p-inputNumber> -->
                        @if(controlNotValid('idNumber')){
                            <app-input-validation-alert-component> {{'errors.idNumber' | translate}} </app-input-validation-alert-component>
                        }
                    </div>
    
                    @if(getControl('purpose')?.value === EInsurancePurpose.ownershipTransfer){
                        <div class="col">
                            <p-floatLabel>
                                <p-inputNumber [maxlength]="10" [minlength]="10" formControlName="sellerId" inputStyleClass="form-control" inputId="sellerId" [useGrouping]="false">
                                </p-inputNumber>
                                <label class="form-label base_label d-flex align-items-center"
                                    for="sellerId">
                                    <span class="me-1">{{'views.home.insuranceForm.sellerId' | translate}}</span> 
                                    <span class="required_input text-danger font_size__16 me-1"> * </span>
                                </label>
                            </p-floatLabel>
                            <!-- <app-base-label-component classes="form-label" [required]="true"
                                for="sellerId">{{'views.home.insuranceForm.sellerId' | translate}}</app-base-label-component>
                            <p-inputNumber [maxlength]="10" [minlength]="10" formControlName="sellerId" inputStyleClass="form-control" inputId="sellerId" [useGrouping]="false">
                            </p-inputNumber> -->
                            @if(controlNotValid('sellerId')){
                                <app-input-validation-alert-component> {{'errors.idNumber' | translate}} </app-input-validation-alert-component>
                            }
                        </div>
                    }
                </div>
            </aside>

            <aside class="col-md-4 my-3">
                <div class="mb-4 d-flex align-items-center">
                    <app-base-label-component classes="form-label mb-0 me-3"
                        [required]="true">{{insuranceFormStructure.registrationType.label|
                        translate}}</app-base-label-component>
                    <div>
                        @for(item of insuranceFormStructure.registrationType.radioButtons; track item.id; let index =
                        $index){
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" formControlName="vehicleRegisterType" type="radio" [id]="item.id + index"
                                [value]="item.value">
                            <label class="form-check-label text-white font_size__10"
                                [for]="item.id + index">{{item.label |
                                translate}}</label>
                        </div>
                        }
                    </div>
                </div>
                <div class="row flex-nowrap mb-2">

                
                @if(getControl('vehicleRegisterType')?.value !== EVehicleRegisterType.customcards){
                    <aside class="col flex-fill">
                        <p-floatLabel>
                            <p-autoComplete [minLength]="6" [maxlength]="9" formControlName="serialNumber" inputStyleClass="form-control" inputId="serialInput">
                                <ng-template let-car pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        {{ car }} <span class="primary_color"> BMW </span>
                                    </div>
                                </ng-template>
                            </p-autoComplete>
                            <label class="form-label base_label d-flex align-items-center"
                                for="serialInput">
                                <span class="me-1">{{'views.home.insuranceForm.serialNumber' | translate}}</span> 
                                <span class="required_input text-danger font_size__16 me-1"> * </span>
                                <!-- <app-base-tooltip-component popoverContent="carIdExample.png" [popoverType]="EPopover.img"></app-base-tooltip-component> -->
                            </label>
                        </p-floatLabel>
                        <!-- <app-base-label-component [isPopover]="true" [popoverType]="EPopover.img"
                            popoverContent="carIdExample.png" classes="form-label" [required]="true"
                            for="serialInput">{{'views.home.insuranceForm.serialNumber' |
                            translate}}</app-base-label-component>
                        <p-autoComplete [minLength]="10" [maxlength]="10" formControlName="serialNumber" inputStyleClass="form-control" inputId="serialInput">
                            <ng-template let-car pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    {{ car }} <span class="primary_color"> BMW </span>
                                </div>
                            </ng-template>
                        </p-autoComplete> -->
                        @if(controlNotValid('serialNumber')){
                            <app-input-validation-alert-component> {{'errors.serialNumber' | translate}} </app-input-validation-alert-component>
                        }
                    </aside>
                }
                @else(){
                    <aside class="col flex-fill">
                        <p-floatLabel>
                            <p-inputNumber [maxlength]="10" [minlength]="10" formControlName="customsNumber" inputStyleClass="form-control" inputId="customsNumber" [useGrouping]="false">
                            </p-inputNumber>
                            <label class="form-label base_label d-flex align-items-center"
                                for="customsNumber">
                                <span class="me-1">{{'views.home.insuranceForm.customsNumber' | translate}}</span> 
                                <span class="required_input text-danger font_size__16 me-1"> * </span>
                                <!-- <app-base-tooltip-component popoverContent="custom-num.png" [popoverType]="EPopover.img"></app-base-tooltip-component> -->
                            </label>
                        </p-floatLabel>
                        <!-- <app-base-label-component [isPopover]="true" [popoverType]="EPopover.img"
                        popoverContent="custom-num.png" classes="form-label"
                            for="customsNumber" [required]="true">{{'views.home.insuranceForm.customsNumber' | translate}}</app-base-label-component>
                        <p-inputNumber [maxlength]="10" [minlength]="10" formControlName="customsNumber" inputStyleClass="form-control" inputId="customsNumber" [useGrouping]="false">
                        </p-inputNumber> -->
                        @if(controlNotValid('customsNumber')){
                            <app-input-validation-alert-component> {{'errors.required' | translate}} </app-input-validation-alert-component>
                        }
                    </aside>
                    <aside class="col flex-fill">
                        <p-floatLabel>
                            <p-dropdown formControlName="vehicleYear" inputId="vehicleYear" [options]="dateFactoryService.createDateLists(getControl('idNumber')?.value).years"></p-dropdown>
                            <label class="form-label base_label d-flex align-items-center"
                                for="vehicleYear">
                                <span class="me-1">{{'views.home.insuranceForm.vehicleYear' | translate}}</span> 
                                <span class="required_input text-danger font_size__16 me-1"> * </span>
                            </label>
                        </p-floatLabel>
                        <!-- <app-base-label-component classes="form-label"
                            for="vehicleYear">{{'views.home.insuranceForm.vehicleYear' | translate}}</app-base-label-component>
                            <p-dropdown formControlName="vehicleYear" inputId="vehicleYear" [options]="dateFactoryService.createDateLists(getControl('idNumber')?.value).years"></p-dropdown> -->
                        @if(controlNotValid('vehicleYear')){
                            <app-input-validation-alert-component> {{'errors.required' | translate}} </app-input-validation-alert-component>
                        }
                    </aside>
                }
            </div>
            </aside>
            <aside class="col-md-4 my-3">
                <div class="h-100 row">
                    <div class="col">
                        <div class="d-flex flex-column h-100">
                                <app-base-label-component style="height: 50px;" classes="form-label"
                                [required]="true">{{'views.home.insuranceForm.insuranceDate' |
                                translate}}</app-base-label-component>
                            <input formControlName="startDate" class="mb-2 date_picker__input form-control" (click)="d.toggle()" type="text" ngbDatepicker
                            #d="ngbDatepicker" [minDate]="minDate" [maxDate]="maxDate" />
                            @if(controlNotValid('startDate')){
                                <app-input-validation-alert-component> {{'errors.required' | translate}} </app-input-validation-alert-component>
                            }
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-2">
                            <!-- <app-base-label-component classes="form-label"
                                [required]="true">{{'views.home.insuranceForm.confirmCode' |
                                translate}}</app-base-label-component> -->
                            <app-base-captcha-component (codeIsCorrectChange)="captchaCodeIsCorrect.set($event)" id="baseCaptcha1"></app-base-captcha-component>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <div class="agree_terms__conditions row mt-5">
        <aside class="col-md-4 ms-auto">
            <div class="form-check mb-4">
                <input formControlName="agreedTermsConditions" class="form-check-input" type="checkbox" value="" id="inquireTermsConditions" checked>
                <app-base-label-component classes="form-check-label font_light grey_color font_size__15"
                    [isPopover]="true"
                    popoverContent="{{'views.home.insuranceForm.termsConditionsTooltip' | translate}}"
                    for="inquireTermsConditions"> {{'views.home.insuranceForm.termsConditionsAgree' | translate}}
                </app-base-label-component>
            </div>
            <app-base-button-component (clicked)="submit()" [loading]="isLoading()" [disabled]="insuranceForm.invalid || !captchaCodeIsCorrect()" classes="btn-primary rounded-pill text-white shadow font_size__15 col-12 py-3">
                {{'views.home.insuranceForm.showOffers' | translate}}
            </app-base-button-component>
        </aside>
    </div>
</div>