<div class="row mb-3">
  <aside class="col-3">
    <app-base-button-component
      (clicked)="newTicketDialog = true"
      classes="btn-primary w-100 font_size__13"
    >
      {{ "views.profile.supportTicket.addTicket" | translate }}
    </app-base-button-component>
  </aside>
</div>

<app-shadow-box-component classes="profile_cards p-4">
  <app-defer-block-component>
    <app-empty-data-component [empty]="false">
      @for(item of [1,1,1,1,1]; track item){
      <p class="py-2 px-3 font_size__13 border-start border-primary shadow-sm">
        A Ticket Head
      </p>
      }
    </app-empty-data-component>
  </app-defer-block-component>
</app-shadow-box-component>

<app-dialog-component [(visible)]="newTicketDialog">
  <div class="bg-white p-4">
    <h5 class="mb-4">
      {{ "views.profile.supportTicket.addTicket" | translate }}
    </h5>
    <div class="mb-3">
      <app-base-label-component
        classes="mb-2"
        [required]="true"
        for="subjectInput"
      >
        {{ "views.profile.supportTicket.subject" | translate }}
      </app-base-label-component>
      <input type="text" class="form-control" id="subjectInput" />
    </div>
    <div class="mb-3">
      <app-base-label-component
        classes="mb-2"
        [required]="true"
        for="detailsInput"
      >
        {{ "views.profile.supportTicket.details" | translate }}
      </app-base-label-component>
      <textarea
        cols="10"
        rows="5"
        type="text"
        class="form-control"
        id="detailsInput"
      ></textarea>
    </div>
    <p-fileUpload
      mode="basic"
      styleClass="btn btn-outline-secondary font_light font_size__13 px-4 py-2 mb-4"
      chooseLabel="{{ 'views.profile.supportTicket.uploadFile' | translate }}"
      chooseIcon="pi pi-upload"
      name="demo[]"
      url="https://www.primefaces.org/cdn/api/upload.php"
      accept="image/*"
      maxFileSize="1000000"
    />

    <app-base-button-component
      classes="font_size__13 btn btn-primary white py-2 px-4"
    >
      {{ "public.send" | translate }}
    </app-base-button-component>
  </div>
</app-dialog-component>
