<div class="mb-4">
    <app-shadow-box-component classes="profile_cards p-4 font_size__15 mb-3">
        <form action="">
            <div class="mb-3">
                <app-base-label for="oldPassword" classes="form-label" [required]="true"> {{'views.profile.personalInfo.oldPassword' | translate}} </app-base-label>
                <input type="password" class="form-control" id="oldPassword">
            </div>
            <div class="mb-3">
                <app-base-label for="newPassword" classes="form-label" [required]="true"> {{'views.profile.personalInfo.newPassword' | translate}} </app-base-label>
                <input type="password" class="form-control" id="newPassword">
            </div>
            <div class="mb-3">
                <app-base-label for="confirmPassword" classes="form-label" [required]="true"> {{'views.profile.personalInfo.confirmPassword' | translate}} </app-base-label>
                <input type="password" class="form-control" id="confirmPassword">
            </div>
        </form>
    </app-shadow-box-component>
    <app-base-button-component classes="px-5 btn-primary rounded-pill white_color font_size__14 shadow-sm"> {{
        'public.save' | translate }} </app-base-button-component>
</div>