<div class="mb-4">
    <app-shadow-box-component classes="profile_cards p-4 font_size__15 mb-3">
        <p class="mb-4"> {{ 'views.profile.personalInfo.changePassword' | translate }} </p>
        <form action="">
            <div class="mb-3">
                <app-base-label-component for="oldPassword" classes="form-label" [required]="true"> {{'views.profile.personalInfo.oldPassword' | translate}} </app-base-label-component>
                <p-password [feedback]="false" [formControl]="oldPassword" [toggleMask]="true" inputStyleClass="form-control" inputId="oldPassword"/>
                @if (oldPassword.invalid && oldPassword.touched) {
                    <app-input-validation-alert-component> {{'errors.required' | translate}}
                    </app-input-validation-alert-component>
                }
            </div>
            <div class="mb-3">
                <app-base-label-component for="newPassword" classes="form-label" [required]="true"> {{'views.profile.personalInfo.newPassword' | translate}} </app-base-label-component>
                <p-password [formControl]="newPassword" [toggleMask]="true" inputStyleClass="form-control" inputId="newPassword"/>
                @if (newPassword.invalid && newPassword.touched) {
                    <app-input-validation-alert-component> {{'errors.password' | translate}}
                    </app-input-validation-alert-component>
                }
            </div>
            <div class="mb-3">
                <app-base-label-component for="confirmPassword" classes="form-label" [required]="true"> {{'views.profile.personalInfo.confirmPassword' | translate}} </app-base-label-component>
                <p-password [feedback]="false" [formControl]="confirmPassword" [toggleMask]="true" inputStyleClass="form-control" inputId="confirmPassword"/>
                @if (confirmPassword.touched && newPassword.value !== confirmPassword.value) {
                    <app-input-validation-alert-component> {{'errors.confirmPassword' | translate}}
                    </app-input-validation-alert-component>
                }
            </div>
        </form>
    </app-shadow-box-component>
    <app-base-button-component [disabled]="!formIsValid" [loading]="isLoading()" (clicked)="submit()" classes="px-5 btn-primary rounded-pill white_color font_size__14 shadow-sm"> {{
        'public.save' | translate }} </app-base-button-component>
</div>