<div class="mb-4">
    <app-shadow-box-component classes="profile_cards p-4 font_size__15 mb-3">
        <form action="">
            <div class="mb-3">
                <label for="oldPassword" class="form-label"> {{ "views.profile.personalInfo.oldPassword" | translate }} </label>
                <input type="password" class="form-control" id="oldPassword">
            </div>
            <div class="mb-3">
                <label for="newPassword" class="form-label">{{ "views.profile.personalInfo.newPassword" | translate }}</label>
                <input type="password" class="form-control" id="newPassword">
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">{{ "views.profile.personalInfo.confirmPassword" | translate }}</label>
                <input type="password" class="form-control" id="confirmPassword">
            </div>
        </form>
    </app-shadow-box-component>
    <app-base-button-component classes="px-5 btn-primary rounded-pill white_color font_size__14 shadow-sm"> {{
        'public.save' | translate }} </app-base-button-component>
</div>