<div class="mb-2">
    <app-base-label-component for="otpInput" classes="form-label" [required]="true"> {{'public.code' | translate}}
    </app-base-label-component>
    <div class="text-center" dir="ltr">
        <p-inputOtp [formControl]="otp" [integerOnly]="true" />
    </div>
    @if(otp.invalid && otp.touched){
    <app-input-validation-alert-component> {{'errors.required' | translate}} </app-input-validation-alert-component>
    }
</div>
<div class="mb-2">
    <app-base-label-component for="passwordInput" classes="form-label" [required]="true"> {{'public.password' |
        translate}} </app-base-label-component>
    <p-password [formControl]="newPassword" [toggleMask]="true" inputStyleClass="form-control"
        inputId="passwordInput" />
    @if(newPassword.invalid && newPassword.touched){
    <app-input-validation-alert-component> {{'errors.password' | translate}} </app-input-validation-alert-component>
    }
</div>
<div class="mb-2">
    <app-base-label-component for="confirmPasswordInut" classes="form-label" [required]="true">
        {{'public.confirmPassword' | translate}} </app-base-label-component>
    <p-password [feedback]="false" [formControl]="confirmPassword" [toggleMask]="true" inputStyleClass="form-control"
        inputId="confirmPasswordInut" />
    @if(confirmPassword.touched && (newPassword.value !== confirmPassword.value)){
    <app-input-validation-alert-component> {{'errors.confirmPassword' | translate}}
    </app-input-validation-alert-component>
    }
</div>

<app-base-button-component [loading]="isLoading()" (clicked)="submit()"
    [disabled]="form.invalid || (newPassword.value !== confirmPassword.value)"
    classes="btn-primary rounded-pill col-12 font_size__13 shadow"> {{'views.auth.reset' | translate | uppercase}}
</app-base-button-component>