<div class="mb-2">
    <app-base-label-component classes="form-label" [required]="true" for="emailInput">{{'public.email' | translate}}</app-base-label-component>
    <input type="email" class="form-control" id="emailInput">
</div>
<div class="mb-4">
    <app-base-label-component classes="form-label" [required]="true" for="passwordInput">{{'public.password' | translate}}</app-base-label-component>
    <input type="password" class="form-control" id="passwordInput">
</div>

<app-base-button-component [disabled]="true" classes="btn-primary rounded-pill col-12 font_size__13 shadow"> {{'views.auth.login' | translate | uppercase}} </app-base-button-component>