
<div [formGroup]="formGroup" class="flex justify-content-center" [pTooltip]="tooltipContent" tooltipPosition="top">
    <p-rating formControlName="value" stars="4" [readonly]="true">
        <ng-template pTemplate="onicon">
            <app-base-image-component path="ico/Groupgood.svg" alt="good"></app-base-image-component>
        </ng-template>
        <ng-template pTemplate="officon">
            <app-base-image-component path="ico/Groupbad.svg" alt="bad"></app-base-image-component>
        </ng-template>
    </p-rating>
    <ng-template #tooltipContent>
        <span class="font_size__12 text-uppercase"> {{'views.insuranceShow.companySpeed' | translate: {speed:value()} }} </span>
    </ng-template>
</div>