<div class="additional_data">
    <h4 class="mb-4"> {{'views.insuranceShow.additionalData' | translate}} </h4>
    <app-base-alert-component type="primary" icon="exclamation-circle"> {{'views.insuranceShow.expiresOn' | translate}} </app-base-alert-component>
    <div class="shadow border rounded p-4">
        <div class="row">
            <aside class="col-md-6">
                <div class="mb-4">
                    <app-base-label-component classes="form-label d-block" for="currency-us">{{'views.insuranceShow.estimatedVehicleValue' | translate}}</app-base-label-component>
                    <p-inputNumber inputStyleClass="form-control" inputId="currency-us" mode="currency" currency="SAR"> </p-inputNumber>
                </div>
            </aside> 
            <aside class="col-md-6">
                <div class="mb-4">
                    <app-base-label-component classes="form-label d-block" for="usePurpose">{{'views.insuranceShow.usePurpose' | translate}}</app-base-label-component>
                    <p-dropdown inputId="usePurpose" [options]="[]" optionLabel="name"></p-dropdown>
                </div>
            </aside>
            <aside class="col-md-12 mb-3">
                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" id="flexCheckChecked" checked>
                    <label class="form-check-label font_light grey_color font_size__12" for="flexCheckChecked">
                        {{'views.insuranceShow.discountBelong' | translate}}
                    </label>
                </div>

                <p class="font_size__12 grey_color mb-4"> {{'views.insuranceShow.verifyAffiliate' | translate}} </p>

                <ng-container >
                    <div class="mb-4">
                        @for(item of affiliationRadios; track item.id; let index =
                        $index){
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="affiliation" [id]="item.id + index"
                                [value]="item.value">
                            <label class="form-check-label font_size__13"
                                [for]="item.id + index">{{item.label |
                                translate | titlecase}}</label>
                        </div>
                        }
                    </div>
                </ng-container>

                <div class="row align-items-center">
                    <aside class="col-md-6 mb-3">
                        <ng-container >
                            <input type="email" class="form-control" placeholder="{{'views.insuranceShow.enterEmail' | translate}}"/>
                        </ng-container>
                    </aside>
                    <aside class="col-md-6 d-flex mb-3">
                        <app-base-button-component class="col mx-1" classes="btn-primary rounded-pill text-white font_size__12 w-100 shadow"> {{'public.verify' | translate | uppercase}} </app-base-button-component>
                        <app-base-button-component class="col mx-1" classes="btn-secondary rounded-pill text-white font_size__12 w-100 shadow"> {{'public.cancel' | translate | uppercase}} </app-base-button-component>
                    </aside>
                </div>
                <p-divider></p-divider>
                <div class="drivers_section">
                    <div class="d-flex">
                        <app-base-button-component icon="car" classes="btn-outline-secondary p-3 font_size__13 mb-4 me-2"> {{'views.insuranceShow.addDriver' | translate | uppercase}} </app-base-button-component>
                        <app-base-button-component icon="car" classes="btn-outline-secondary p-3 font_size__13 mb-4"> {{'views.insuranceShow.cancelAddDriver' | translate | uppercase}} </app-base-button-component>
                    </div>
                    <app-base-alert-component class="font_size__10" type="secondary"> {{'views.insuranceShow.noAdditionalDrivers' | translate}} </app-base-alert-component>
                    <ng-container>
                        <div class="row mt-5">
                            <aside class="col-md-4">
                                <div class="mb-4">
                                    <app-base-label-component classes="form-label d-block" for="driverId">{{'views.insuranceShow.driverId' | translate}}</app-base-label-component>
                                    <p-inputNumber inputStyleClass="form-control" [useGrouping]="false" inputId="driverId"> </p-inputNumber>
                                </div>
                            </aside> 
                            <aside class="col-md-4">
                                <div class="mb-4">
                                    <app-base-label-component classes="form-label d-block" for="birthYear">{{'views.insuranceShow.birthYear' | translate}}</app-base-label-component>
                                    <p-dropdown inputId="birthYear" [options]="[]" optionLabel="name"></p-dropdown>
                                </div>
                            </aside> 
                            <aside class="col-md-4">
                                <div class="mb-4">
                                    <app-base-label-component classes="form-label d-block" for="birthMonth">{{'views.insuranceShow.birthMonth' | translate}}</app-base-label-component>
                                    <p-dropdown inputId="birthMonth" [options]="[]" optionLabel="name"></p-dropdown>
                                </div>
                            </aside> 
                            <aside class="col-md-4">
                                <div class="mb-4">
                                    <app-base-label-component classes="form-label d-block" for="eduLevel">{{'views.insuranceShow.eduLevel' | translate}}</app-base-label-component>
                                    <p-dropdown inputId="eduLevel" [options]="[]" optionLabel="name"></p-dropdown>
                                </div>
                            </aside>
                            <aside class="col-md-4">
                                <div class="mb-4">
                                    <app-base-label-component classes="form-label d-block" for="childsUnder16">{{'views.insuranceShow.childsUnder16' | translate}}</app-base-label-component>
                                    <p-dropdown inputId="childsUnder16" [options]="[]" optionLabel="name"></p-dropdown>
                                </div>
                            </aside> 
                            <aside class="col-md-4">
                                <div class="mb-4">
                                    <app-base-label-component classes="form-label d-block" for="drivePercent">{{'views.insuranceShow.drivePercent' | translate}}</app-base-label-component>
                                    <p-dropdown inputId="drivePercent" [options]="[]" optionLabel="name"></p-dropdown>
                                </div>
                            </aside> 
                            <aside class="col-md-4">
                                <div class="mb-4">
                                    <app-base-label-component classes="form-label d-block" for="driveRestrictions">{{'views.insuranceShow.driveRestrictions' | translate}}</app-base-label-component>
                                    <p-dropdown inputId="driveRestrictions" [options]="[]" optionLabel="name"></p-dropdown>
                                </div>
                            </aside> 
                            <aside class="col-md-4">
                                <div class="mb-4">
                                    <app-base-label-component classes="form-label d-block" for="5yearsAccidents">{{'views.insuranceShow.5yearsAccidents' | translate}}</app-base-label-component>
                                    <p-dropdown inputId="5yearsAccidents" [options]="[]" optionLabel="name"></p-dropdown>
                                </div>
                            </aside> 
                            <aside class="col-md-4">
                                <div class="mb-4">
                                    <app-base-label-component classes="form-label d-block" for="relation">{{'views.insuranceShow.relation' | translate}}</app-base-label-component>
                                    <p-dropdown inputId="relation" [options]="[]" optionLabel="name"></p-dropdown>
                                </div>
                            </aside> 
                            <aside class="col-md-4">
                                <div class="mb-4">
                                    <app-base-label-component classes="form-label d-block" for="anyViolations">{{'views.insuranceShow.anyViolations' | translate}}</app-base-label-component>
                                    <p-dropdown inputId="anyViolations" [options]="[]" optionLabel="name"></p-dropdown>
                                </div>
                            </aside> 
                            <!-- hidden -->
                            <ng-container>
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="violationType">{{'views.insuranceShow.violationType' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="violationType" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside> 
                            </ng-container>
                            <!-- hidden -->

                            <aside class="col-md-4">
                                <div class="mb-4">
                                    <app-base-label-component classes="form-label d-block" for="isOwnerAddress">{{'views.insuranceShow.isOwnerAddress' | translate}}</app-base-label-component>
                                    <p-dropdown inputId="isOwnerAddress" [options]="[]" optionLabel="name"></p-dropdown>
                                </div>
                            </aside> 
                            <!-- hidden -->
                            <ng-container>
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="hisAddress">{{'views.insuranceShow.hisAddress' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="hisAddress" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside>
                            </ng-container>
                            <!-- hidden -->

                            <aside class="col-md-4">
                                <div class="mb-4">
                                    <app-base-label-component classes="form-label d-block" for="anotherCountryLicense">{{'views.insuranceShow.anotherCountryLicense' | translate}}</app-base-label-component>
                                    <p-dropdown inputId="anotherCountryLicense" [options]="[]" optionLabel="name"></p-dropdown>
                                </div>
                            </aside> 
                            <!-- hidden -->
                            <ng-container>
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="country">{{'views.insuranceShow.country' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="country" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside> 
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="licenseHoldYears">{{'views.insuranceShow.licenseHoldYears' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="licenseHoldYears" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside> 
                            </ng-container>
                            <!-- hidden -->
                        </div>
                    </ng-container>
                </div>
                <p-divider></p-divider>
                <div class="additional_data__section">
                    <app-base-button-component icon="file" classes="btn-outline-secondary p-3 font_size__13 mb-4"> {{'views.insuranceShow.additionalDataButton' | translate | uppercase}} </app-base-button-component>
                    <div class="mt-5">
                        <div>
                            <div class="d-flex justify-content-between">
                                <app-base-label-component classes="form-label"> {{ 'views.insuranceShow.docOwner' | translate }} </app-base-label-component>
                                <p-inputSwitch></p-inputSwitch>
                            </div>
                            <div class="row mt-4">
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="eduLevel-1">{{'views.insuranceShow.eduLevel' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="eduLevel-1" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside>
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="childsUnder16-1">{{'views.insuranceShow.childsUnder16' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="childsUnder16-1" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside>
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="birthYear-1">{{'views.insuranceShow.birthYear' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="birthYear-1" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside>
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="birthMonth-1">{{'views.insuranceShow.birthMonth' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="birthMonth-1" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside>
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="driveRestrictions-1">{{'views.insuranceShow.driveRestrictions' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="driveRestrictions-1" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside>
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="nightParking-1">{{'views.insuranceShow.nightParking' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="nightParking-1" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside>
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="5yearsAccidents-1">{{'views.insuranceShow.5yearsAccidents' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="5yearsAccidents-1" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside>
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="annualDistance-1">{{'views.insuranceShow.annualDistance' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="annualDistance-1" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside>
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="motionVector-1">{{'views.insuranceShow.motionVector' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="motionVector-1" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside>
                            </div>
                        </div>
                        
                        <div>
                            <div class="d-flex justify-content-between">
                                <app-base-label-component classes="form-label"> {{ 'views.insuranceShow.trafficViolations' | translate }} </app-base-label-component>
                                <p-inputSwitch></p-inputSwitch>
                            </div>
                            <div class="row mt-4">
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="violationType-2">{{'views.insuranceShow.violationType' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="violationType-2" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside>
                            </div>
                        </div>

                        <div>
                            <div class="d-flex justify-content-between">
                                <app-base-label-component classes="form-label"> {{ 'views.insuranceShow.nationalAddressSameCity' | translate }} </app-base-label-component>
                                <p-inputSwitch></p-inputSwitch>
                            </div>
                            <div class="row mt-4">
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="workCity-2">{{'views.insuranceShow.workCity' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="workCity-2" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside>
                            </div>
                        </div>

                        <div>
                            <div class="d-flex justify-content-between">
                                <app-base-label-component classes="form-label"> {{ 'views.insuranceShow.licenseInAnotherCountry' | translate }} </app-base-label-component>
                                <p-inputSwitch></p-inputSwitch>
                            </div>
                            <div class="row mt-4">
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="country-2">{{'views.insuranceShow.country' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="country-2" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside>
                                <aside class="col-md-4">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="licenseHoldYears-2">{{'views.insuranceShow.licenseHoldYears' | translate}}</app-base-label-component>
                                        <p-dropdown inputId="licenseHoldYears-2" [options]="[]" optionLabel="name"></p-dropdown>
                                    </div>
                                </aside>
                            </div>
                        </div>

                        <div>
                            <div class="d-flex justify-content-between">
                                <app-base-label-component classes="form-label"> {{ 'views.insuranceShow.vehicleModify' | translate }} </app-base-label-component>
                                <p-inputSwitch></p-inputSwitch>
                            </div>
                            <div class="row mt-4">
                                <aside class="col-md-12">
                                    <div class="mb-4">
                                        <app-base-label-component classes="form-label d-block" for="whatAreModifications-2">{{'views.insuranceShow.whatAreModifications' | translate}}</app-base-label-component>
                                        <textarea class="form-control" rows="5" cols="30" pInputTextarea></textarea>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </aside> 
        </div>
    </div>

    <div class="d-flex flex-row-reverse mt-5">
        <app-base-button-component class="mx-1" classes="btn-primary rounded-pill font_size__13 py-3 px-4"> {{'views.insuranceShow.showOffers' | translate | uppercase}} </app-base-button-component>
        <app-base-button-component class="mx-1" icon="arrow-left" classes="btn-outline-primary rounded-pill font_size__13 py-3 px-4"> {{'views.insuranceShow.previousStep' | translate | uppercase}} </app-base-button-component>
    </div>
</div>