<div class="footer_contact py-5 primary_bg text-white">
    <div class="container py-4">
        <div class="row">
            <aside class="col-md-8">
                <h6 class="font_size__20 font_bold mb-3">
                    {{'layout.footerContact.title' | translate}}
                </h6>
                <p class="font_size__13 mb-0">
                    {{'layout.footerContact.description' | translate}}
                </p>
            </aside>
            <aside class="col-md-4 mt-4 mt-md-0">
                <app-base-link-component [external]="true" classes="btn-secondary col-12 rounded-pill py-3 shadow font_size__15" path="tel: {{settingsQuery.phone}}"> {{'layout.footerContact.phoneCall' | translate :{phone: settingsQuery.phone} }} </app-base-link-component>
            </aside>
        </div>
    </div>
</div>