<div class="car_pallet border border-dark-subtle rounded" style="min-width:200px; width:200px">
    <div class="row mx-0 text-center font_size__12">
        <div class="col-5 px-0">
            <div class="border-bottom border-end border-dark-subtle p-2"> {{carNumber}} </div>
            <div class="p-2 border-end border-dark-subtle"> {{carNumber}} </div>
        </div>
        <div class="col-5 px-0">
            <div class="border-bottom border-dark-subtle p-2">{{carCharsAr}} </div>
            <div class="p-2"> {{carCharsEn}} </div>
        </div>
        <div class="col-2 px-0 border-start border-dark-subtle">
            <div class="h-100 d-flex flex-column justify-content-center">
                <app-base-image-component classes="w-100 px-2" path="svg/ksa.svg" alt="ksa"></app-base-image-component>
            </div>
        </div>
    </div>
</div>