<div class="register_form">
    <div class="mb-2">
        <app-base-label-component for="nameInput" classes="form-label" [required]="true"> {{'public.name' | translate}} </app-base-label-component>
        <input type="text" class="form-control" [formControl]="registerService.fullName" id="nameInput">
    </div>
    <div class="mb-2">
        <app-base-label-component for="idInput" classes="form-label" [required]="true"> {{'views.home.insuranceForm.id' | translate}} </app-base-label-component>
        <input type="text" class="form-control" [formControl]="registerService.nationalId" id="idInput">
    </div>
    <div class="mb-2">
        <app-base-label-component for="numberInput" classes="form-label" [required]="true"> {{'public.phone' | translate}} </app-base-label-component>
        <input type="text" class="form-control" [formControl]="registerService.phoneNumber" id="numberInput">
    </div>
    <div class="mb-2">
        <app-base-label-component for="emailInput" classes="form-label" [required]="true"> {{'public.email' | translate}} </app-base-label-component>
        <input type="email" class="form-control" [formControl]="registerService.email" id="emailInput">
    </div>
    <div class="mb-2">
        <app-base-label-component for="passwordInput" classes="form-label" [required]="true"> {{'public.password' | translate}} </app-base-label-component>
        <input type="password" class="form-control" [formControl]="registerService.password" id="passwordInput">
    </div>
    <div class="mb-3">
        <app-base-label-component for="confirmPasswordInput" classes="form-label" [required]="true"> {{'public.confirmPassword' | translate}} </app-base-label-component>
        <input type="password" class="form-control" [formControl]="registerService.confirmPassword" id="confirmPasswordInput">
    </div>
    <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label font_light grey_color font_size__12" for="flexCheckChecked">
            {{'views.home.insuranceForm.termsConditionsAgree' | translate}}
        </label>
    </div>
    <app-base-button-component classes="btn-primary rounded-pill col-12 font_size__13 shadow"> {{'views.auth.register' | translate | uppercase}} </app-base-button-component>
</div>