.profile_sidebar{
    ::ng-deep{
        .btn{
            color: var(--bs-gray-600);
            img{
                filter: var(--greyColorFilter);
                width: 24px;
            }
            &.active_link{
                img{
                    filter: var(--primaryColorFilter);
                }
            }
        }
    }
}