<a [routerLink]="['../' + ERoutes.blogPage, 0]" routerLinkActive="router-link-active">
    <div class="blog_box">
        <app-base-image-component  path="img.png" alt="blog image"></app-base-image-component>
        <h6 class="h5 text-black my-3"> Blog Title </h6>
        <app-sided-icon-component classes="font_size__13 mb-2 font_light primary_color" iconClass="primary_color" icon="calendar"> 04 April </app-sided-icon-component>
        <p class="font_size__12 grey_color font_light"> blog description </p>
    </div>
</a>
