<div class="row">
    <aside class="col-md-6">
        <ul class="list-unstyled m-0 p-0 font_size__13">
            <li class="mb-2"> <span class="me-3 grey_color">{{'views.profile.quotations.policyId' | translate}}</span> <span> {{ policy().policyId }} </span> </li>
            <li class="mb-2"> <span class="me-3 grey_color">{{'views.profile.quotations.companyName' | translate}}</span> <span> {{ policy().companyName }} </span> </li>
            <li class="mb-2"> <span class="me-3 grey_color">{{'views.profile.quotations.status' | translate}}</span> <span> {{ 'policyStatusEnum.' + policy().policyStatus | translate }} </span> </li>
            <li class="mb-2"> <span class="me-3 grey_color">{{'views.profile.quotations.startDate' | translate}}</span> <span> {{ policy().policyStartDate | date : 'medium' }} </span> </li>
            <li class="mb-2"> <span class="me-3 grey_color">{{'views.profile.quotations.endDate' | translate}}</span> <span> {{ policy().policyEndDate | date : 'medium' }} </span> </li>
            <li class="mb-2"> <span class="me-3 grey_color">{{'views.profile.quotations.najmStatus' | translate}}</span> <span class="primary_color"> {{ 'policyNajmStatus.' + policy().najmStatus | translate}} </span> </li>
        </ul>
    </aside>
    <aside class="col-md-3">
        <app-car-pallet-component [plateNumber]="policy().carPlateNumber" [carCharsAr]=" policy().carPlateChars "></app-car-pallet-component>
        <p class="font_size__13 mt-2 secondary_color"> {{cardBrand()}} </p>
    </aside>
    <aside class="col-md-3">
        <p class="font_size__13">
            <i class="pi pi-stopwatch primary_color me-2"></i>
            <i class="font_bold"> {{policy().policyLeftDays | number : '1.0-0'}} </i> {{'views.profile.quotations.leftDays' | translate}}
        </p>
        <app-base-button-component (click)="policiesStoreService.getPolicyFile(policy().policyId)" [loading]="isLoading()" classes="btn-outline-primary font_size__12" icon="download"> {{'public.download' | translate}} </app-base-button-component>
    </aside>
</div>