<div class="mb-4">
    <div>
        <app-base-label-component for="numberInput" classes="form-label" [required]="true"> {{'public.email' | translate}} </app-base-label-component>
        <input [formControl]="email" type="email" class="form-control" id="numberInput">
        @if(email.invalid && email.touched && nationalId.invalid){
            <app-input-validation-alert-component> {{'errors.email' | translate}} </app-input-validation-alert-component>
        }
    </div>

    <p-divider align="center" type="solid">
        <b>{{'public.or' | translate}}</b>
    </p-divider>

    <div>
        <app-base-label-component for="nationalId" classes="form-label" [required]="true"> {{'public.nationalId' | translate}} </app-base-label-component>
        <p-inputNumber [maxlength]="10" [minlength]="10" [formControl]="nationalId" inputStyleClass="form-control" inputId="nationalId" [useGrouping]="false">
        </p-inputNumber>
        @if(nationalId.invalid && nationalId.touched && email.invalid){
            <app-input-validation-alert-component> {{'errors.idNumber' | translate}} </app-input-validation-alert-component>
        }
    </div>

</div>
<app-base-button-component [loading]="isLoading()" (clicked)="submit()"  [disabled]="email.invalid && nationalId.invalid" classes="btn-primary rounded-pill col-12 font_size__13 shadow"> {{'public.send' | translate | uppercase}} </app-base-button-component>