<div class="row mb-3" [formGroup]="filter">
    <aside class="col-3">
        <input formControlName="policyId" placeholder="{{'views.home.insuranceForm.policyId' | translate}}" class="form-control" id="idInput">
    </aside>
    <aside class="col-3">
        <input formControlName="sequenceNumber" placeholder="{{'views.home.insuranceForm.serialNumber' | translate}}" class="form-control" id="sequenceNumber"/>
    </aside>
    <aside class="col-3">
        <input formControlName="idNumber" placeholder="{{'views.home.insuranceForm.id' | translate}}" class="form-control" id="idNumber"/>
    </aside>
</div>

<app-shadow-box-component classes="profile_cards p-4">
    <app-loading-content-component [loading]="isLoading()">
        <app-defer-block-component>
            <app-empty-data-component [empty]="!(policiesStoreQuery.policies | policiesFilter : filter.value).length">
                @for(item of policiesStoreQuery.policies | policiesFilter : filter.value; track item.policyId; let last = $last){
                    <app-policy-box [policy]="item"></app-policy-box>
                    @if(!last){
                        <p-divider />
                    }
                }
            </app-empty-data-component>
        </app-defer-block-component>
    </app-loading-content-component>
</app-shadow-box-component>